@import '@angular/material/prebuilt-themes/azure-blue.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5;
}

// Snackbar de erro global
.snackbar-erro {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: white;
}
